@font-face {
    font-family: 'Nano';
    src: url('../src/fonts/NanoFont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Nano', Arial, sans-serif;
}
